          <div id="$pid" class="post $mod_class">
            <span class="photo $owner">
              <img src="$photo" />
            </span>
            <div class="text $direction">
              <div class="bar">
                <span class="username $rt_class">$username</span>
                <span class="timeago">$timeago</span>
                <span class="icons">
                  <a href="reply://$pid"><img class="reply-icon" src="img/reply.png" /></a>&nbsp;
                  <a href="retweet://$pid"><img class="retweet-icon" src="img/retweet.png" /></a>&nbsp;
                  <a href="rt://$pid"><img class="rt-icon" src="img/rt.png" /></a>&nbsp;
                  <a href="fav://$pid"><img class="fav-icon" src="img/fav.png" /></a>&nbsp;
                </span>
              </div>
              <div class="text-body">
              $post
              </div>
              <div class="extra">
                <span>$opt_text</span>
              </div>
            </div>
          </div>
